<p id="notice"><% notice %></p>

<!-- banner  -->
<div class="banner">
  <%= image_tag("coffee.svg", class: "logo", alt: "City") %>
  <h1 class="headline">Coffee Shop</h1>
  <span class="tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
</div>
