<!-- Our story -->
<div class="container">
  <h1>Our Story</h1>
  <h4>Lorem ipsum 1998 dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
  <h4>Lorem ipsum 2000 dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
  <h4>Lorem ipsum 2008 dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
  <h4>Lorem ipsum 2017 dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
</div>

<br>

<!-- Team -->
 <!-- row 1 -->
<div class="container">
<h1>Work Team</h1>
 <div class = "row">
  <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
      <img src = "img/team1.jpg" alt = "Generic placeholder thumbnail">
    </div>
      <div class = "caption">
        <h3>Kuno Engelbert</h3>
        <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
           Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
           consectetur id reprehenderit culpa reprehenderit mollit. </p>
       </div>
     </div>
     <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
        <img src = "img/team2.jpg" alt = "Generic placeholder thumbnail">
      </div>
      <div class = "caption">
         <h3>Greer Berniece</h3>
         <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
           Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
            consectetur id reprehenderit culpa reprehenderit mollit. </p>
      </div>
     </div>
     <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
        <img src = "img/team3.jpg" alt = "Generic placeholder thumbnail">
      </div>
      <div class = "caption">
         <h3>Larrie Lowell</h3>
         <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
           Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
            consectetur id reprehenderit culpa reprehenderit mollit. </p>
       </div>
     </div>
     <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
        <img src = "img/team4.jpg" alt = "Generic placeholder thumbnail">
      </div>
      <div class = "caption">
         <h3>Brittney Lana
         </h3>
         <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
           Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
            consectetur id reprehenderit culpa reprehenderit mollit. </p>
       </div>
     </div>
  </div>
</div>

<%= render "posts/about" %>
