<!-- cake -->
<!-- row 1 -->
<div class="container">
 <div class = "row">
  <div class = "col-sm-6 col-md-3">
    <div class = "thumbnail">
      <a href="img/cake1.jpg"><img src = "img/cake1.jpg" alt = "Generic placeholder thumbnail"></a>
    </div>
      <div class = "caption">
        <h3>Thumbnail label</h3>
        <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
           Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
           consectetur id reprehenderit culpa reprehenderit mollit. </p>
       </div>
     </div>
     <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
          <a href="img/cake2.jpg"><img src = "img/cake2.jpg" alt = "Generic placeholder thumbnail"></a>
      </div>
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
           Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
            consectetur id reprehenderit culpa reprehenderit mollit. </p>
       </div>
     </div>
     <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
          <a href="img/cake3.jpg"><img src = "img/cake3.jpg" alt = "Generic placeholder thumbnail"></a>
      </div>
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
           Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
            consectetur id reprehenderit culpa reprehenderit mollit. </p>
       </div>
     </div>
     <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
          <a href="img/cake1.jpg"><img src = "img/cake1.jpg" alt = "Generic placeholder thumbnail"></a>
      </div>
      <div class = "caption">
         <h3>Thumbnail label</h3>
         <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
           Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
            consectetur id reprehenderit culpa reprehenderit mollit. </p>
       </div>
     </div>
  </div>
</div>
<!-- row 2-->
<div class="container">
<div class = "row">
 <div class = "col-sm-6 col-md-3">
   <div class = "thumbnail">
     <a href="img/cake1.jpg"><img src = "img/cake1.jpg" alt = "Generic placeholder thumbnail"></a>
   </div>
     <div class = "caption">
       <h3>Thumbnail label</h3>
       <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
          Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
          consectetur id reprehenderit culpa reprehenderit mollit. </p>
      </div>
    </div>
    <div class = "col-sm-6 col-md-3">
     <div class = "thumbnail">
         <a href="img/cake2.jpg"><img src = "img/cake2.jpg" alt = "Generic placeholder thumbnail"></a>
     </div>
     <div class = "caption">
        <h3>Thumbnail label</h3>
        <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
          Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
           consectetur id reprehenderit culpa reprehenderit mollit. </p>
      </div>
    </div>
    <div class = "col-sm-6 col-md-3">
     <div class = "thumbnail">
         <a href="img/cake3.jpg"><img src = "img/cake3.jpg" alt = "Generic placeholder thumbnail"></a>
     </div>
     <div class = "caption">
        <h3>Thumbnail label</h3>
        <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
          Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
           consectetur id reprehenderit culpa reprehenderit mollit. </p>
      </div>
    </div>
    <div class = "col-sm-6 col-md-3">
     <div class = "thumbnail">
         <a href="img/cake1.jpg"><img src = "img/cake1.jpg" alt = "Generic placeholder thumbnail"></a>
     </div>
     <div class = "caption">
        <h3>Thumbnail label</h3>
        <p>Magna id veniam labore ut ad cillum minim ea irure enim. Nulla adipisicing aute nostrud Lorem velit.
          Exercitation mollit reprehenderit enim incididunt laborum nostrud nisi duis excepteur. Ex quis minim
           consectetur id reprehenderit culpa reprehenderit mollit. </p>
      </div>
    </div>
  </div>
</div>
