// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ==========================================
            Base elements styles
   ========================================== */

* {
   	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
  max-width: 1351px;
  max-height: 1289px;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h1 {
	text-align: center;
}

h2, h3, a {
	color: #093a58;
}

h2, h3, h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

img:hover {
  opacity: 0.5;
}

figure {
	margin: 0;
	line-height: 0;
	position: relative;
	border-color: black 10px;

}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(19,43,102, .85);
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* ==========================================
            Base Layouts Styles
   ==========================================
*/

/* Navigation */

.name {
	font-size: 1.85em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
	}

	.main-nav a {
		font-size: 1.10em;
		color:  #01579b;
		text-transform: uppercase;
	}

	.name a:hover, .main-nav a:hover {
		color: #3acec2;
    text-decoration: none;
	}

/* Layout Container */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner {
	color: #fff;
	background: #0d47a1;
	padding: 3.2em 0;
	margin-bottom: 60px;
  text-align: center;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background:  #111111;
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
  color: #FFFFFF;
  bottom: 0px;
  width: 100%;
}


/* Page Elements */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

.icon-location {
	width: 35px;
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 2;
}

/* Font awesome */
i {
  margin: 10px;
  color: #01579b;
}

/* footer icons color */
/* Twiter */
#aqua:hover {
  color: #80d8ff;
}
/* Facebook */
#white:hover {
  color: #FFFFFF;
}
/* Instagram */
#purple:hover {
  color: #e040fb;
}
/* Cart and User */
#lightblue:hover {
  color: #3acec2;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	body {
		padding-top: 68px;
	}

	.main-header {
		position: fixed;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.primary,
	.secondary {
		width: 50%;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1025px) {

	.container {
		width: 80%;
		max-width: 1150px;
	}

	.primary {
		width: 40%;
	}

	.secondary,
	.tertiary {
		width: 30%;
	}
}
