<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Varela+Round'>
    <!-- <link rel="stylesheet" href="jquery/jquery-ui.min.js"> -->

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "posts/header" %>
    <%= render "posts/banner" %>
    <%= yield %>
    <%= render "posts/footer" %>
  </body>
</html>
